{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">Make a new todo</div>
    <div class="card-body">
      <form method="POST" style="display: flex; flex-direction: column">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name="title" required />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea
            class="form-control"
            rows="3"
            name="description"
            required
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add new todo</button>
        <a
          href="/todos"
          style="display: flex; flex-direction: column"
          class="btn btn-danger"
        >
          Cancel todo</a
        >
      </form>
    </div>
  </div>
</div>
